.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 0px 5px thistle;
    border-radius: 10px;
    display: flex;
    width: 10%;
    margin: 10px;
    background-color: rgb(241, 218, 241);
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
}
.house{
    font-size: 20px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;

}
.button{
    padding: 6px 12px ;
    background-color: rgb(211, 234, 254);
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: aquamarine;
}
.addHomeLink{
    color: cadetblue;
    text-decoration: underline;
}