<!DOCTYPE html>
<html>
    <head>
        <title>Backend Practice</title>
    </head>
    <body>
        <h1>Add new Homes</h1>
        <form action="/host/add-Home" method="POST">
        <input type="text" name="house" placeholder="Enter your home"><br>
        <input type="text" name="price" placeholder="Enter your price"><br>
        <input type="text" name="location" placeholder="Enter your location"><br>
        <input type="file" name="photo" placeholder="Enter your photo"><br>
        
        <br>
        <input type="submit">
        </form>
    </body>
</html>